<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 24, xl: 24, xxl: 24 }" class="box-row">

  <div nz-col nzSpan="24" [nzXs]="24" [nzSm]="24" [nzMd]="24" class="gutter-row">
    <ul class="social-footer">
      <li><a href="" title="Github"><i class="anticon anticon-github animated bounce"></i></a></li>
      <li><a href="" title="Linkedin"><i class="anticon anticon-linkedin"></i></a></li>
      <li><a href="" title="CodePen"><i class="anticon anticon-codepen"></i></a></li>
    </ul>

    <p class="footer-copy">&copy; José Antônio - 2018</p>
  </div>

</div>
