<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 24, xl: 24, xxl: 24 }" class="box-row">

  <div nz-col nzSpan="24" [nzXs]="24" [nzSm]="24" [nzMd]="24" class="gutter-row">
    <ul class="social-footer">
      <li><a href="https://github.com/Josebr1" target="_blank" title="Github"><i class="anticon anticon-github animated bounce"></i></a></li>
      <li><a href="https://www.linkedin.com/in/joseantoniobr/" title="Linkedin" target="_blank"><i class="anticon anticon-linkedin animated bounce"></i></a></li>
      <li><a href="https://codepen.io/Josebr1" title="CodePen" target="_blank"><i class="anticon anticon-codepen animated bounce"></i></a></li>
      <li><a href="https://josebr1.medium.com/" title="Medium" target="_blank"><i class="anticon anticon-medium animated bounce"></i></a></li>
    </ul>

    <p class="footer-copy">&copy; JoseBR1 - {{ dateYear }}</p>
  </div>

</div>
