.title-text{
  color: #f65151;
}

.subtitle-text{
  text-align: justify;
}

.sounds{
  padding: 2em;
}

@media screen and (max-width: 600px) {
  p.subtitle-text {
    width: 100%;
  }

  .sounds{
    padding: 0;
  }
}
