<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12, xl: 12, xxl: 12 }" class="box-row padding">
  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">

    <span class="tag-code-span-top">
      &lt;/body&gt;
    </span>

    <div class="text-zone">

      <h1 class="title-text animated rubberBand">
        Sobre
      </h1>
      <p class="subtitle-text animated fadeIn">
        Analista Desenvolvedor Especialista 👨‍💻
        <br><br>
        Sou um grande apaixonado na programação mobile e um grande sonhador com o futuro progressivo das PWA's;
        <br>
        <br> 
        Nada melhor que construir um mundo livre, não acha? Que tal começar por um commit? Minhas experiencias são voltadas para o desenvolvimento de novas tecnologias para a evolução de um mundo melhor ;)
        <br>
        <br>
        Sou movido a novos desafios, apaixonado por testar novas tecnologias e sempre pronto para executar o nosso Hello World hehehe
        <br>
        <br> 
        Moro na cidade de São Paulo - Brasil, desde meus 15 anos de idade, hoje vejo nessa cidade maravilhosa grandes oportunidades
        de crescimento, além de ser a melhor cidade do país ;).
      </p>
    </div>

    <span class="tag-code-span-bottom">

      &nbsp;&nbsp;&nbsp;&lt;/body&gt;
      <br> &lt;/html&gt;
    </span>
  </div>

  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">

    <div class="sounds">
      <h3 class="title-minha-radio animated flash">Minha Rádio</h3>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/66308787&color=%23252525&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/86365577&color=%23252525&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>
  </div>
</div>
