.nav-menu{
  background-color: #121212;
}

ul.nav-menu {

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
  height: 5em;
  margin-top: 1em;

  li {
    text-align: center;
    padding: 1em;

    a {
      font-size: 1.2em;
      background: rgb(148,102,255);
      background: linear-gradient(180deg, rgba(148,102,255,1) 0%, rgba(105,70,186,1) 53%, rgba(79,35,181,1) 82%);
      border-radius: 5px;
      padding: 16px;
      width: 5rem;
      box-shadow: 10px 5px;
      transition: .5s;

      &:hover {
        padding: 20px;
        box-shadow: 0 0;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  .separator-item-menu{
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  ul.nav-menu {
    width: 100%;

    li {
      padding: 0;

      a {
        box-shadow: 4px 5px;
      }
    }
  }
}






