<div class="nav">

  <ul class="nav-menu">
    <li><a routerLink="/home"><i class="anticon anticon-home"></i></a></li>
    <li class="separator-item-menu">/</li>
    <li><a routerLink="/about"><i class="anticon anticon-smile-o"></i></a></li>
    <li class="separator-item-menu">/</li>
    <li><a routerLink="/skills"><i class="anticon anticon-code-o"></i></a></li>
    <li class="separator-item-menu">/</li>
    <li><a routerLink="/contact"><i class="anticon anticon-message"></i></a></li>
  </ul>
</div>
<!--nz-divider nzText="Desenvolvedor Full-Stack" class="divider-font"></nz-divider-->

