<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12, xl: 12, xxl: 12 }" class="box-row padding">
  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">

    <span class="tag-code-span-top">
      &lt;/body&gt;
    </span>

    <div class="text-zone">

      <h1 class="title-text animated rubberBand">
        Habilidades
        <span class="text-title-style">&nbsp;&&nbsp;</span>
        Experiência
      </h1>
      <p class="subtitle-text animated fadeIn">
        Ser um desenvolvedor não é nada fácil  
        <br><br>
        Mas por qual motivo ser um?  
        <br><br>
        Não sei explicar, mas cada linha que tenho o prazer de digitar é uma alegria imensa em meu coração 
        <br><br>
        Sou um desenvolver em desenvolvimento! 
        <br><br>
        Estranho isso, não? Tenho evoluído a cada dia que se passa, conhecendo novas tecnologias e padrões para construir um projeto de alta qualidade. 
        <br><br><br>
        Vamos fazer parte dessa trajetória! 
      </p>
    </div>

    <span class="tag-code-span-bottom">

      &nbsp;&nbsp;&nbsp;&lt;/body&gt;
      <br> &lt;/html&gt;
    </span>


  </div>

  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">
    

    <div class="skills">

      <div class="skill">
        <h4 class="title-skill">back-end</h4>
        <span class="skill-progress skill-2" style="width: 90%;"></span>
      </div>

      <div class="skill">
        <h4 class="title-skill">font-end</h4>
        <span class="skill-progress skill-8" style="width: 60%;"></span>
      </div>

      <div class="skill">
        <h4 class="title-skill">dotnet</h4>
        <span class="skill-progress skill-5" style="width: 80%;"></span>
      </div>

      <div class="skill">
        <h4 class="title-skill">node js</h4>
        <span class="skill-progress skill-10" style="width: 70%;"></span>
      </div>

      <div class="skill">
        <h4 class="title-skill">html + css</h4>
        <span class="skill-progress skill-6" style="width: 70%;"></span>
      </div>

    </div>

  </div>
</div>
