.title-text{
  color: rgba(105,70,186,1);
}

.skills {
  padding-top: 8em;

  .skill {

    margin-top: 25px;
    margin-bottom: 20px;

    .title-skill {
      color: #FFF;
      font-size: 12pt !important;
    }

    .skill-progress {
      background-color: #FFF;
      width: 100%;
      height: 5px;
      display: block;
      border-radius: 25px;
    }
  }

  .skill-2 {
    background-color: rgba(70,25,126, 1) !important;
  }

  .skill-3 {
    background-color: rgba(25,66,96, 1) !important;
  }
  .skill-4 {
    background-color: rgba(191,31,95,1) !important;
  }
  .skill-5 {
    background-color: rgba(19,169,194, 1) !important;
  }

  .skill-6 {
    background-color: rgba(255,77,0, 1) !important;
  }

  .skill-7 {
    background-color: rgba(255,192,34, 1) !important;
  }
  .skill-8 {
    background-color: rgba(90,75,170, 1) !important;
  }
  .skill-9 {
    background-color: rgba(9,52,206, 1) !important;
  }
  .skill-10 {
    background-color: rgba(84,171,40, 1) !important;
  }
}