.title-text {
  color: rgba(105,70,186,1);
}
.text-title-style {
  color: #FFF;
}
.skills-box {
  height: 20em;
  width: 100%;
  display: grid;
}
.skills-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .text-title-style {
    font-size: 1.2em;
  }
}