<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12, xl: 12, xxl: 12 }" class="box-row padding">
  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">

    <span class="tag-code-span-top">
      &lt;/body&gt;
    </span>

    <div class="text-zone">

      <h1 class="title-text animated rubberBand">
        Habilidades
        <span class="text-title-style">&nbsp;&&nbsp;</span>
        Experiência
      </h1>
      <p class="subtitle-text animated fadeIn">
        Ser um desenvolvedor não é nada fácil  
        <br><br>
        Mas por qual motivo ser um?  
        <br><br>
        Não sei explicar, mas cada linha que tenho o prazer de digitar é uma alegria imensa em meu coração 
        <br><br>
        Sou um desenvolver em desenvolvimento! 
        <br><br>
        Estranho isso, não? Tenho evoluído a cada dia que se passa, conhecendo novas tecnologias e padrões para construir um projeto de alta qualidade. 
        <br><br><br>
        Vamos fazer parte dessa trajetória! 
      </p>
    </div>

    <span class="tag-code-span-bottom">

      &nbsp;&nbsp;&nbsp;&lt;/body&gt;
      <br> &lt;/html&gt;
    </span>


  </div>

  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" class="gutter-row">
    <div class="skills-zone">
      <!--div class="skills-text"></div-->
      <!--img class="animated pulse" style="width: 80%; height: auto;" src="assets/images/web-development.png"-->

      <dl class="skills-diagram animated pulse">
        <dt class="skill-5">Flutter</dt>
        <dd>5</dd>
        <dt class="skill-10">NodeJS</dt>
        <dd>10</dd>
        <dt class="skill-3">Java</dt>
        <dd>3</dd>
        <dt class="skill-8">PHP</dt>
        <dd>8</dd>
        <dt class="skill-4">RegEx</dt>
        <dd>4</dd>
        <dt class="skill-6">HTML5</dt>
        <dd>6</dd>
        <dt class="skill-7">JavaScript</dt>
        <dd>7</dd>
        <dt class="skill-9">CSS</dt>
        <dd>9</dd>
        <dt class="skill-2">C#</dt>
        <dd>2</dd>
      </dl>
       
    </div>
  </div>
</div>
