<div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12, xl: 12, xxl: 12 }" class="box-row padding container">
  <div class="logo-zone">

    <h1 class="logo">
      <span class="text-title-style">J</span>
      <span class="text-title-style">A</span>
    </h1>

  </div>

  <div nz-col nzSpan="12" [nzXs]="24" [nzSm]="24" [nzMd]="24" class="gutter-row">

    <span class="tag-code-span-top">
       &lt;/body&gt;
    </span>

    <div class="text-zone">

      <h1 class="title-text animated rubberBand">
        Olá,<br>sou <span class="text-title-style">J</span>osé <span class="text-title-style">A</span>ntônio,<br>desenvolvedor Full-Stack
      </h1>
      <p class="subtitle-text animated fadeIn">Desenvolvedor Full-Stack / Angular / Ionic / Cordova / Android</p>
    </div>

    <span class="tag-code-span-bottom">

      &nbsp;&nbsp;&nbsp;&lt;/body&gt;
      <br>
      &lt;/html&gt;
    </span>
  </div>
</div>

